.container{
    width: 40%;
    margin: 0 auto;
    padding: 3em;
    background-color:rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    box-shadow: 1px 1px 200px rgba(51, 4, 78, 0.623);
}
@media (min-width: 1600px){
    .container{width: 30%;}
}
@media (min-width: 0px) and (max-width:1200px){
    .container{width: 80%;}
}