.body{
    display: grid;
    align-items: center;
    background-image: linear-gradient(180deg, #683095 0, #564094 16.67%, #5d45ac 33.33%, #6942d4 50%, #5d45ac 66.67%, #564094 83.33%, #683095 100%);
}
